Files/home/jovyan/work/1/tutorials/data/*

Files/home/jovyan/work/4/programming_assignment/chekcpoints_best_only/*

Files/home/jovyan/work/4/programming_assignment/chekcpoints_every_epoch/*

Files/home/jovyan/work/4/programming_assignment/data/*

Files/home/jovyan/work/5/model_checkpoints/*

Files/home/jovyan/work/5/model_cnn_checkpoints/*
